

<div id="supplier-info" class="card">
  <div class="card-body">
    <h2 class="card-title">Supplier's card</h2>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Name <p>{{ supplier.suppName }}</p></li>
    <li class="list-group-item">Nationality <p>{{ supplier.nationality }}</p></li>
    <li class="list-group-item">Email <p>{{ supplier.email }}</p></li>
  </ul>
  @if (isThereAdress) {
    <div class="card-body">
      <h4 class="card-title">Adresses</h4>
      @for (adress of adresses; track adress) {
        <ul class="list-group list-group-flush" >
          <li class="list-group-item">{{ adress.road }} , {{adress.number}}</li>
        </ul>
      }
    </div>
  }
  @if (!isThereAdress) {
    <div class="card-body">
      There are no adresses yet.
    </div>
  }

  <div class="card-body">
    <button type="submit" class="btn btn-primary" (click)="goToUpdate()">Update supplier</button>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete supplier</button>
    <button type="button" class="btn btn-primary" id="cancel-button" routerLink="/admin/supplier">Return</button>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this supplier?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmDelete()">Yes</button>
      </div>
    </div>
  </div>
</div>
