ACCOUNT_KEYCLOAK_ISSUER_URI=
ACCOUNT_ELASTICSEARCH_URL=
ACCOUNT_ELASTICSEARCH_USERNAME=
ACCOUNT_ELASTICSEARCH_PASSWORD=
ACCOUNT_KAFKA_BOOTSTRAP_SERVERS=
ACCOUNT_KAFKA_GROUP=
ACCOUNT_KEYCLOAK_SERVER_URL=
ACCOUNT_KEYCLOAK_REALM=
ACCOUNT_KEYCLOAK_ADMIN_REALM=
ACCOUNT_KEYCLOAK_CLIENT_ID=
ACCOUNT_KEYCLOAK_ADMIN_USERNAME=
ACCOUNT_KEYCLOAK_ADMIN_PASSWORD=
ACCOUNT_KAFKA_TOPIC=