spring.application.name=car_rental

server.port=8100


#######################################
# PostgreSQL
#######################################

spring.datasource.url=${DB_URL}
spring.datasource.username=${DB_USERNAME}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver


#######################################
# JPA / Hibernate
#######################################

spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true


#######################################
# Keycloak / OAuth2
#######################################

spring.security.oauth2.resourceserver.jwt.issuer-uri=${KEYCLOAK_ISSUER_URI}

spring.security.oauth2.resourceserver.jwt.jwk-set-uri=${KEYCLOAK_JWK_SET_URI}

jwt.auth.converter.resource-id=${JWT_AUTH_CONVERTER_RESOURCE_ID}
jwt.auth.converter.principal-attribute=${JWT_AUTH_CONVERTER_PRINCIPAL_ATTRIBUTE}


#######################################
# SpringDoc
#######################################

springdoc.api-docs.path=/api-docs


#######################################
# Keycloak Admin
#######################################

keycloak.server-url=${KEYCLOAK_SERVER_URL}
keycloak.realm=${KEYCLOAK_REALM}

keycloak.admin-realm=${KEYCLOAK_ADMIN_REALM}
keycloak.admin-username=${KEYCLOAK_ADMIN_USERNAME}
keycloak.admin-password=${KEYCLOAK_ADMIN_PASSWORD}
keycloak.client-secret=${KEYCLOAK_CLIENT_SECRET}
keycloak.client-id=${KEYCLOAK_CLIENT_ID}
resource.access=${RESOURCE_ACCESS}
keycloak.sync.default-password=${KEYCLOAK_SYNC_DEFAULT_PASSWORD}


#######################################
# Elasticsearch
#######################################

spring.elasticsearch.uris=${ELASTICSEARCH_URIS}
spring.elasticsearch.username=${ELASTICSEARCH_USERNAME}
spring.elasticsearch.password=${ELASTICSEARCH_PASSWORD}


#######################################
# Application configuration
#######################################

ip.address=${IP_ADDRESS}

allowed.origin=${ALLOWED_ORIGIN}

suspicious.predict=${SUSPICIOUS_PREDICT}

recommendation.ai.url=${RECOMMENDATION_AI_URL}
KAFKA_RECOMMENDATION_RESULTS_TOPIC=${KAFKA_RECOMMENDATION_RESULTS_TOPIC}