.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-container h1 {
  font-size: 10rem;
  color: #ff4b5c;
}

.not-found-container p {
  font-size: 1.5rem;
  color: #333;
}

.not-found-container button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.not-found-container button:hover {
  background-color: #0056b3;
}
