#location-info{
  background: linear-gradient(#2fbdff, #0f2f40);
  border-radius: 30px;
  margin: 25px;
  transform: translateX(-100%);
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.card{
  margin-top: 75px;
  background-color: #8B5DFF;
  color: #FFF7D1;
  height: fit-content;
  border-style: dot-dash;
}

li{
  transition: background-color 0.5s ease, transform 0.55s ease;

}



p{
  text-align: right;
  color: #8B5DFF;
  transition: background-color 0.5s ease, transform 0.55s ease;
}

p:hover{
  background: linear-gradient(#8B5DFF,#2fbdff);
  transform: scale(1.01);
  color:#FFF7D1;
}

li:hover{
  background: linear-gradient(#8B5DFF,#2fbdff);
  transform: scale(1.01);
  color:#FFF7D1;
}





button{
  display: inline;
}

.btn-primary, .btn-danger{
  margin-left: 220px;
  width: 1500px;
}

#cancel-button{
  background-color: #563A9C;
  color: #FFF7D1;
}
