<div class="page-wrapper">

  <!-- HEADER -->

  <div class="header">

    <div class="icon">
      📍
    </div>

    <div>

      <h1>Add Address</h1>

      <p>Create a new supplier address using the step wizard</p>

    </div>

  </div>


  <!-- CENTER GRID -->

  <div class="primary-grid">

    <div class="primary-card">

      <mat-stepper linear #stepper>


        <!-- STEP 1 : ADDRESS INFO -->

        <mat-step [stepControl]="step1Form">

          <form [formGroup]="step1Form">

            <ng-template matStepLabel>

              Address

            </ng-template>


            <div class="row">


              <div class="col">

                <mat-form-field appearance="outline">

                  <mat-label>Road</mat-label>

                  <input
                    matInput
                    formControlName="road"
                  >

                  <mat-error>

                    Road is required

                  </mat-error>

                </mat-form-field>

              </div>


              <div class="col">

                <mat-form-field appearance="outline">

                  <mat-label>Number</mat-label>

                  <input
                    matInput
                    type="number"
                    formControlName="number"
                  >

                  <mat-error>

                    Number is required

                  </mat-error>

                </mat-form-field>

              </div>


            </div>


            <div class="step-actions">


              <button
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="step1Form.invalid"
              >

                Next

              </button>


              <button
                mat-stroked-button
                color="warn"
                (click)="cancel(stepper)"
              >

                Cancel

              </button>


            </div>

          </form>

        </mat-step>



        <!-- STEP 2 : LOCATION INFO -->

        <mat-step [stepControl]="step2Form">

          <form [formGroup]="step2Form">

            <ng-template matStepLabel>

              Location

            </ng-template>


            <div class="row">


              <!-- COUNTRY SELECT -->

              <div class="col">

                <mat-form-field appearance="outline">

                  <mat-label>Country</mat-label>

                  <mat-select formControlName="country">

                    @for (country of countries; track country) {

                      <mat-option [value]="country">

                        {{ country }}

                      </mat-option>

                    }

                  </mat-select>

                </mat-form-field>

              </div>



              <!-- CITY SELECT -->

              <div class="col">

                <mat-form-field appearance="outline">

                  <mat-label>City</mat-label>

                  <mat-select
                    formControlName="city"
                    [disabled]="!availableCities.length"
                  >

                    @for (city of availableCities; track city) {

                      <mat-option [value]="city">

                        {{ city }}

                      </mat-option>

                    }

                  </mat-select>

                </mat-form-field>

              </div>


            </div>


            <div class="step-actions">


              <button
                mat-stroked-button
                matStepperPrevious
              >

                Back

              </button>


              <button
                mat-raised-button
                color="primary"
                matStepperNext
                [disabled]="step2Form.invalid"
              >

                Next

              </button>


              <button
                mat-stroked-button
                color="warn"
                (click)="cancel(stepper)"
              >

                Cancel

              </button>


            </div>

          </form>

        </mat-step>



        <!-- STEP 3 : REVIEW -->

        <mat-step>

          <ng-template matStepLabel>

            Review

          </ng-template>


          <div class="review-box">


            <p>

              <strong>Road:</strong>

              {{ step1Form.value.road }}

            </p>


            <p>

              <strong>Number:</strong>

              {{ step1Form.value.number }}

            </p>


            <p>

              <strong>Country:</strong>

              {{ step2Form.value.country }}

            </p>


            <p>

              <strong>City:</strong>

              {{ step2Form.value.city }}

            </p>


          </div>


          <div class="step-actions">


            <button
              mat-stroked-button
              matStepperPrevious
            >

              Back

            </button>


            <button
              mat-raised-button
              color="primary"
              (click)="submit()"
            >

              Confirm

            </button>


            <button
              mat-stroked-button
              color="warn"
              (click)="cancel(stepper)"
            >

              Cancel

            </button>


          </div>

        </mat-step>


      </mat-stepper>

    </div>

  </div>

</div>
