<div class="example-action-buttons">
  <button matButton (click)="accordion().openAll()" class="btn primary-btn">Expand All</button>
  <button matButton (click)="accordion().closeAll()" class="btn primary-btn">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Personal data </mat-panel-title>
      <mat-panel-description>
        Click to see personal data
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>


  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Location </mat-panel-title>
      <mat-panel-description>
        Click to see the information about the location
        <mat-icon>map</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Actions </mat-panel-title>

    </mat-expansion-panel-header>


    <mat-datepicker #picker></mat-datepicker>
  </mat-expansion-panel>
</mat-accordion>
