.card{
  margin-top: 155px;
  background: linear-gradient(#1FA0FF,#12DAFB,#A7FDCC);
  color: #D3F5CF;
  height: fit-content;
}

h1{
  text-align: center;
  color: #D3F5CF;
}

.row{
  margin: 25px;
  transition: background-color 0.6s ease, transform 0.6s ease;

}

.row:hover{
  background-color: #563A9C;
  transform: scale(1.01);
  color:#FFF7D1;
}
.btn-primary{
  margin-left: 220px;
  width: 1500px;
}

#cancel-button{
  background-color: #563A9C;
  color: #FFF7D1;
}

button{
  display: inline;
}
