<div class="card">
  <h1>Client Adding</h1>
  <form [formGroup]="updateClientForm">
    <div class="form-group row">
      <label for="name">Name of the client:</label>
      <input id="name" type="text" class="form-control" name="name" formControlName="name" />
      @if (updateClientForm.get('name')?.touched && updateClientForm.get('name')?.invalid) {
        <div>
          @if (name?.errors?.['required']) {
            <small>Name is required</small>
          }
          @if (name?.errors?.['pattern']) {
            <small>Name should be alphabetic with spaces</small>
          }
        </div>
      }
    </div>

    <div class="form-group row">
      <label for="cin">CIN:</label>
      <input id="cin" type="text" class="form-control" formControlName="cin" name="cin" />
      @if (updateClientForm.get('cin')?.touched && updateClientForm.get('cin')?.invalid) {
        <div>
          @if (cin?.errors?.['required']) {
            <small>CIN is required</small>
          }
          @if (cin?.errors?.['pattern']) {
            <small>CIN should be 8 numbers</small>
          }
        </div>
      }
    </div>

    <div class="form-group row">
      <label for="mail">Email:</label>
      <input id="mail" type="text" class="form-control" formControlName="mail" name="mail" />
      @if (updateClientForm.get('mail')?.touched && updateClientForm.get('mail')?.invalid) {
        <div>
          @if (mail?.errors?.['required']) {
            <small>Email is required</small>
          }
          @if (mail?.errors?.['email']) {
            <small>This should be an email</small>
          }
        </div>
      }
    </div>

    <div class="form-group row">
      <label for="password">Password:</label>
      <input id="password" type="text" class="form-control" formControlName="password" name="password" />
      @if (updateClientForm.get('password')?.touched && updateClientForm.get('password')?.invalid) {
        <div>
          @if (password?.errors?.['required']) {
            <small>Password is required</small>
          }
          @if (password?.errors?.['minLength']) {
            <small>Password should have more than 6 characters</small>
          }
        </div>
      }
    </div>
    <div class="form-group row">
      <label for="options">Location:</label>
      <select id="options" class="form-control" formControlName="loc" name="loc">
        @for (option of locations; track option) {
          <option [value]="option.name">{{ option.name }}</option>
        }
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="updateClientForm.invalid" data-bs-toggle="modal" data-bs-target="#updateModal">Update client</button>
    <button type="button" class="btn btn-primary" id="cancel-button" (click)="return()">Return</button>
  </form>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Adding</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you confirm to update the details of this client?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"   (click)="updateClient()">Yes</button>
      </div>
    </div>
  </div>
</div>
