<div class="admin-clients-page">


  <!-- =========================================================
       PAGE HEADER
       ========================================================= -->

  <section class="page-header reveal">

    <div class="header-left">

      <div class="header-icon">

        <span class="material-icons">
          groups
        </span>

      </div>


      <div class="header-text">

        <span class="eyebrow">
          ADMINISTRATION
        </span>

        <h1>
          Clients
        </h1>

        <p>
          Manage registered clients and their information.
        </p>

      </div>

    </div>


    <div class="header-actions">

      <button
        mat-stroked-button
        class="refresh-button"
        type="button"
        [disabled]="loading()"
        (click)="refresh()">

        <mat-icon>
          refresh
        </mat-icon>

        Refresh

      </button>

    </div>

  </section>


  <!-- =========================================================
       SUCCESS
       ========================================================= -->

  @if (successMessage) {

    <div class="success-message reveal">

      <mat-icon>
        check_circle
      </mat-icon>

      <span>
        {{ successMessage }}
      </span>

      <button
        mat-icon-button
        type="button"
        (click)="successMessage = ''">

        <mat-icon>
          close
        </mat-icon>

      </button>

    </div>

  }


  <!-- =========================================================
       ERROR
       ========================================================= -->

  @if (error()) {

    <div class="error-message reveal">

      <mat-icon>
        error_outline
      </mat-icon>

      <span>
        Unable to load clients.
      </span>

      <button
        mat-button
        type="button"
        (click)="refresh()">

        Retry

      </button>

    </div>

  }


  <!-- =========================================================
       DIRECTORY CARD
       ========================================================= -->

  <section class="directory-card reveal">


    <!-- =======================================================
         CARD HEADER
         ======================================================= -->

    <div class="directory-header">

      <div class="directory-title">

        <div class="title-line">

          <h2>
            Client directory
          </h2>

          <span class="count-badge">
            {{ totalElements() }}
          </span>

        </div>

        <p>
          Browse and manage all registered clients.
        </p>

      </div>


      <!-- =====================================================
           SEARCH
           ===================================================== -->

      <div class="search-wrapper">

        <mat-icon>
          search
        </mat-icon>

        <input
          type="text"
          placeholder="Search clients..."
          [value]="searchTerm()"
          (input)="onSearch($event)"
        />


        @if (searchTerm()) {

          <button
            type="button"
            class="clear-search"
            (click)="searchTerm.set('')">

            <mat-icon>
              close
            </mat-icon>

          </button>

        }

      </div>

    </div>


    <!-- =======================================================
         LOADING
         ======================================================= -->

    @if (loading()) {

      <div class="loading-container">

        <mat-spinner
          diameter="42">
        </mat-spinner>

        <span>
          Loading clients...
        </span>

      </div>

    }


    <!-- =======================================================
         TABLE
         ======================================================= -->

    @if (!loading() && !error()) {

      <div class="table-container">

        <table
          mat-table
          [dataSource]="filteredClients"
          class="clients-table">


          <!-- =================================================
               CLIENT
               ================================================= -->

          <ng-container
            matColumnDef="client">

            <th
              mat-header-cell
              *matHeaderCellDef>

              CLIENT

            </th>


            <td
              mat-cell
              *matCellDef="let client">

              <div class="client-cell">

                <div class="avatar">

                  {{ getInitials(
                  client.nameClient
                ) }}

                </div>


                <div class="client-info">

                  <span class="client-name">
                    {{ client.nameClient }}
                  </span>

                  <span class="client-id">
                    #{{ client.id }}
                  </span>

                </div>

              </div>

            </td>

          </ng-container>


          <!-- =================================================
               EMAIL
               ================================================= -->

          <ng-container
            matColumnDef="email">

            <th
              mat-header-cell
              *matHeaderCellDef>

              EMAIL

            </th>


            <td
              mat-cell
              *matCellDef="let client">

              <div class="email-cell">

                <mat-icon>
                  mail_outline
                </mat-icon>

                <span>
                  {{ client.email }}
                </span>

              </div>

            </td>

          </ng-container>


          <!-- =================================================
               NATIONALITY
               ================================================= -->

          <ng-container
            matColumnDef="nationality">

            <th
              mat-header-cell
              *matHeaderCellDef>

              NATIONALITY

            </th>


            <td
              mat-cell
              *matCellDef="let client">

              <span class="nationality-badge">

                {{ client.nationality }}

              </span>

            </td>

          </ng-container>


          <!-- =================================================
               BUDGET
               ================================================= -->

          <ng-container
            matColumnDef="budget">

            <th
              mat-header-cell
              *matHeaderCellDef>

              BUDGET

            </th>


            <td
              mat-cell
              *matCellDef="let client">

              <span class="budget">

                {{ formatBudget(
                client.budget
              ) }}

              </span>

            </td>

          </ng-container>


          <!-- =================================================
               LOCATION
               ================================================= -->

          <ng-container
            matColumnDef="location">

            <th
              mat-header-cell
              *matHeaderCellDef>

              LOCATION

            </th>


            <td
              mat-cell
              *matCellDef="let client">

              <div class="location-cell">

                <mat-icon>
                  location_on
                </mat-icon>

                <div>

                  <span class="location-name">
                    {{ client.locationName }}
                  </span>

                  <span class="location-id">
                    Location #{{ client.locationId }}
                  </span>

                </div>

              </div>

            </td>

          </ng-container>


          <!-- =================================================
               ACTIONS
               ================================================= -->

          <ng-container
            matColumnDef="actions">

            <th
              mat-header-cell
              *matHeaderCellDef>

              ACTIONS

            </th>


            <td
              mat-cell
              *matCellDef="let client">

              <div class="actions">


                <!-- DETAILS -->

                <button
                  mat-icon-button
                  matTooltip="View client"
                  type="button"
                  class="details-action"
                  (click)="openDetails(client)">

                  <mat-icon>
                    visibility
                  </mat-icon>

                </button>


                <!-- UPDATE -->

                <button
                  mat-icon-button
                  matTooltip="Edit client"
                  type="button"
                  class="edit-action"
                  (click)="openUpdate(client)">

                  <mat-icon>
                    edit
                  </mat-icon>

                </button>


                <!-- DELETE -->

                <button
                  mat-icon-button
                  class="delete-action"
                  matTooltip="Delete client"
                  type="button"
                  (click)="openDelete(client)">

                  <mat-icon>
                    delete_outline
                  </mat-icon>

                </button>

              </div>

            </td>

          </ng-container>


          <!-- =================================================
               HEADER / ROW
               ================================================= -->

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns">
          </tr>


          <tr
            mat-row
            *matRowDef="
              let client;
              columns: displayedColumns;
              trackBy: trackClient
            "
            class="client-row">
          </tr>


        </table>


        <!-- =================================================
             EMPTY
             ================================================= -->

        @if (
          filteredClients.length === 0
          ) {

          <div class="empty-state">

            <div class="empty-icon">

              <mat-icon>
                person_off
              </mat-icon>

            </div>

            <h3>
              No clients found
            </h3>

            <p>
              There are no clients matching your search.
            </p>


            @if (searchTerm()) {

              <button
                mat-stroked-button
                type="button"
                (click)="searchTerm.set('')">

                Clear search

              </button>

            }

          </div>

        }

      </div>


      <!-- =================================================
           PAGINATION
           ================================================= -->

      @if (totalElements() > 0) {

        <div class="pagination-wrapper">

          <mat-paginator
            [length]="totalElements()"
            [pageIndex]="page()"
            [pageSize]="size()"
            [pageSizeOptions]="[5]"
            (page)="onPageChange($event)"
            showFirstLastButtons>
          </mat-paginator>

        </div>

      }

    }

  </section>

</div>


<!-- =========================================================
     DETAILS DIALOG
     ========================================================= -->

@if (
  activeDialog === 'details' &&
  selectedClient
  ) {

  <div
    class="dialog-backdrop"
    (click)="onDialogBackdropClick($event)">


    <div
      class="client-dialog details-dialog"
      (click)="$event.stopPropagation()">


      <!-- =====================================================
           HEADER
           ===================================================== -->

      <div class="dialog-header">

        <div class="dialog-heading">

          <div class="dialog-icon details-icon">

            <mat-icon>
              person
            </mat-icon>

          </div>


          <div>

            <span class="dialog-eyebrow">
              CLIENT DETAILS
            </span>

            <h3>
              Client information
            </h3>

            <p>
              Complete information about this client.
            </p>

          </div>

        </div>


        <button
          mat-icon-button
          class="dialog-close"
          type="button"
          (click)="closeDialog()">

          <mat-icon>
            close
          </mat-icon>

        </button>

      </div>


      <!-- =====================================================
           CONTENT
           ===================================================== -->

      <div class="dialog-content">

        @if (dialogLoading) {

          <div class="dialog-loading">

            <mat-spinner
              diameter="38">
            </mat-spinner>

            <span>
              Loading client information...
            </span>

          </div>

        }

        @else {

          @if (dialogError) {

            <div class="dialog-error">

              <mat-icon>
                error_outline
              </mat-icon>

              <span>
                {{ dialogError }}
              </span>

            </div>

          }


          <!-- PROFILE -->

          <div class="client-profile">

            <div class="large-avatar">

              {{ getInitials(
              selectedClient.nameClient
            ) }}

            </div>


            <div>

              <strong>
                {{ selectedClient.nameClient }}
              </strong>

              <span>
                Client #{{ selectedClient.id }}
              </span>

            </div>

          </div>


          <!-- DETAILS GRID -->

          <div class="details-grid">


            <!-- NAME -->

            <div class="detail-card">

              <div class="detail-card-icon">

                <mat-icon>
                  badge
                </mat-icon>

              </div>

              <div>

                <span>
                  Full name
                </span>

                <strong>
                  {{ selectedClient.nameClient }}
                </strong>

              </div>

            </div>


            <!-- EMAIL -->

            <div class="detail-card">

              <div class="detail-card-icon">

                <mat-icon>
                  alternate_email
                </mat-icon>

              </div>

              <div>

                <span>
                  Email address
                </span>

                <strong class="email-detail">
                  {{ selectedClient.email }}
                </strong>

              </div>

            </div>


            <!-- NATIONALITY -->

            <div class="detail-card">

              <div class="detail-card-icon">

                <mat-icon>
                  public
                </mat-icon>

              </div>

              <div>

                <span>
                  Nationality
                </span>

                <strong>
                  {{ selectedClient.nationality }}
                </strong>

              </div>

            </div>


            <!-- BUDGET -->

            <div class="detail-card">

              <div class="detail-card-icon">

                <mat-icon>
                  payments
                </mat-icon>

              </div>

              <div>

                <span>
                  Budget
                </span>

                <strong class="budget-detail">
                  {{ formatBudget(
                  selectedClient.budget
                ) }}
                </strong>

              </div>

            </div>


            <!-- LOCATION -->

            <div class="detail-card">

              <div class="detail-card-icon">

                <mat-icon>
                  location_on
                </mat-icon>

              </div>

              <div>

                <span>
                  Registered location
                </span>

                <strong>
                  {{ selectedClient.locationName }}
                </strong>

                <small>
                  Location #{{ selectedClient.locationId }}
                </small>

              </div>

            </div>


            <!-- ID -->

            <div class="detail-card">

              <div class="detail-card-icon">

                <mat-icon>
                  fingerprint
                </mat-icon>

              </div>

              <div>

                <span>
                  Client ID
                </span>

                <strong>
                  #{{ selectedClient.id }}
                </strong>

              </div>

            </div>

          </div>

        }

      </div>


      <!-- =====================================================
           FOOTER
           ===================================================== -->

      <div class="dialog-footer">

        <button
          mat-stroked-button
          type="button"
          class="dialog-secondary-button"
          (click)="closeDialog()">

          <mat-icon>
            close
          </mat-icon>

          Close

        </button>


        <button
          mat-flat-button
          type="button"
          class="dialog-primary-button"
          (click)="openUpdate(selectedClient)">

          <mat-icon>
            edit
          </mat-icon>

          Update client

        </button>

      </div>

    </div>

  </div>

}


<!-- =========================================================
     UPDATE DIALOG
     ========================================================= -->

@if (
  activeDialog === 'update' &&
  selectedClient
  ) {

  <div
    class="dialog-backdrop"
    (click)="onDialogBackdropClick($event)">


    <div
      class="client-dialog update-dialog"
      (click)="$event.stopPropagation()">


      <!-- =====================================================
           HEADER
           ===================================================== -->

      <div class="dialog-header">

        <div class="dialog-heading">

          <div class="dialog-icon edit-dialog-icon">

            <mat-icon>
              edit
            </mat-icon>

          </div>


          <div>

            <span class="dialog-eyebrow">
              ADMINISTRATION
            </span>

            <h3>
              Update client
            </h3>

            <p>
              Modify the information of this client.
            </p>

          </div>

        </div>


        <button
          mat-icon-button
          class="dialog-close"
          type="button"
          [disabled]="dialogSaving"
          (click)="closeDialog()">

          <mat-icon>
            close
          </mat-icon>

        </button>

      </div>


      <!-- =====================================================
           CONTENT
           ===================================================== -->

      <div class="dialog-content">


        @if (dialogLoading) {

          <div class="dialog-loading">

            <mat-spinner
              diameter="38">
            </mat-spinner>

            <span>
              Loading client information...
            </span>

          </div>

        }

        @else {

          @if (dialogError) {

            <div class="dialog-error">

              <mat-icon>
                error_outline
              </mat-icon>

              <span>
                {{ dialogError }}
              </span>

            </div>

          }


          <form
            class="client-update-form"
            (ngSubmit)="updateClient()"
            novalidate>


            <!-- =================================================
                 NAME
                 ================================================= -->

            <div class="dialog-form-group">

              <label for="updateClientName">
                Client name
              </label>


              <div class="dialog-input">

                <mat-icon>
                  badge
                </mat-icon>

                <input
                  id="updateClientName"
                  name="nameClient"
                  type="text"
                  [(ngModel)]="updateForm.nameClient"
                  maxlength="100"
                  autocomplete="name"
                  [disabled]="dialogSaving"
                />

              </div>

            </div>


            <!-- =================================================
                 EMAIL
                 ================================================= -->

            <div class="dialog-form-group">

              <label for="updateClientEmail">
                Email address
              </label>


              <div class="dialog-input">

                <mat-icon>
                  email
                </mat-icon>

                <input
                  id="updateClientEmail"
                  name="email"
                  type="email"
                  [(ngModel)]="updateForm.email"
                  maxlength="255"
                  autocomplete="email"
                  [disabled]="dialogSaving"
                />

              </div>

            </div>


            <!-- =================================================
                 NATIONALITY
                 ================================================= -->

            <div class="dialog-form-group">

              <label for="updateNationality">
                Nationality
              </label>


              <div class="dialog-input">

                <mat-icon>
                  public
                </mat-icon>

                <select
                  id="updateNationality"
                  name="nationality"
                  [(ngModel)]="updateForm.nationality"
                  [disabled]="dialogSaving">

                  <option
                    value=""
                    disabled>

                    Select nationality

                  </option>


                  @for (
                    nationality of nationalities;
                    track nationality
                    ) {

                    <option
                      [value]="nationality">

                      {{ nationality }}

                    </option>

                  }

                </select>

              </div>

            </div>


            <!-- =================================================
                 BUDGET
                 ================================================= -->

            <div class="dialog-form-group">

              <label for="updateBudget">
                Budget
              </label>


              <div class="dialog-input">

                <mat-icon>
                  payments
                </mat-icon>

                <input
                  id="updateBudget"
                  name="budget"
                  type="number"
                  [(ngModel)]="updateForm.budget"
                  min="0"
                  step="0.01"
                  [disabled]="dialogSaving"
                />

                <span class="input-suffix">
                  EUR
                </span>

              </div>

            </div>


            <!-- =================================================
                 LOCATION
                 ================================================= -->

            <div class="dialog-form-group full-width">

              <label>
                Registered location
              </label>


              <div
                class="location-readonly">

                <mat-icon>
                  location_on
                </mat-icon>


                <div>

                  <strong>
                    {{ updateForm.locationName }}
                  </strong>

                  <span>
                    Location #{{ updateForm.locationId }}
                  </span>

                </div>

                <span class="readonly-badge">
                  Current

                </span>

              </div>

            </div>


          </form>

        }

      </div>


      <!-- =====================================================
           FOOTER
           ===================================================== -->

      <div class="dialog-footer">

        <button
          mat-stroked-button
          type="button"
          class="dialog-secondary-button"
          [disabled]="dialogSaving"
          (click)="closeDialog()">

          Cancel

        </button>


        <button
          mat-flat-button
          type="button"
          class="dialog-primary-button"
          [disabled]="
            dialogSaving ||
            dialogLoading
          "
          (click)="updateClient()">

          @if (dialogSaving) {

            <span class="button-spinner">
            </span>

            Saving...

          }

          @else {

            <mat-icon>
              save
            </mat-icon>

            Save changes

          }

        </button>

      </div>

    </div>

  </div>

}


<!-- =========================================================
     DELETE DIALOG
     ========================================================= -->

@if (
  activeDialog === 'delete' &&
  selectedClient
  ) {

  <div
    class="dialog-backdrop"
    (click)="onDialogBackdropClick($event)">


    <div
      class="client-dialog delete-dialog"
      (click)="$event.stopPropagation()">


      <!-- =====================================================
           ICON
           ===================================================== -->

      <div class="delete-icon-wrapper">

        <mat-icon>
          delete_outline
        </mat-icon>

      </div>


      <span class="dialog-eyebrow danger-eyebrow">
        DELETE CLIENT
      </span>


      <h3>
        Delete this client?
      </h3>


      <p class="delete-description">

        You are about to permanently remove

        <strong>
          {{ selectedClient.nameClient }}
        </strong>

        from the platform.

      </p>


      <!-- =====================================================
           CLIENT PREVIEW
           ===================================================== -->

      <div class="delete-client-preview">

        <div class="avatar">

          {{ getInitials(
          selectedClient.nameClient
        ) }}

        </div>


        <div>

          <strong>
            {{ selectedClient.nameClient }}
          </strong>

          <span>
            {{ selectedClient.email }}
          </span>

        </div>

      </div>


      @if (dialogError) {

        <div class="dialog-error">

          <mat-icon>
            error_outline
          </mat-icon>

          <span>
            {{ dialogError }}
          </span>

        </div>

      }


      <!-- =====================================================
           ACTIONS
           ===================================================== -->

      <div class="delete-actions">

        <button
          mat-stroked-button
          type="button"
          class="dialog-secondary-button"
          [disabled]="dialogDeleting"
          (click)="closeDialog()">

          Cancel

        </button>


        <button
          mat-flat-button
          type="button"
          class="delete-confirm-button"
          [disabled]="dialogDeleting"
          (click)="confirmDelete()">

          @if (dialogDeleting) {

            <span class="delete-spinner">
            </span>

            Deleting...

          }

          @else {

            <mat-icon>
              delete_outline
            </mat-icon>

            Delete client

          }

        </button>

      </div>

    </div>

  </div>

}
