

<button type="button" id="adding-button" (click)="goToAddSupplier()" class="btn btn-primary btn-lg">Add supplier</button>
<div class="card">

  <table class="table">
    <thead>

      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Nationality</th>
      <th scope="col">Infos</th>

    </thead>
    @for (supp of listSuppliers; track supp) {
      <tbody>
        <tr>
          <td>{{supp.idSupp}}</td>
          <td>{{supp.suppName}}</td>
          <td>{{supp.nationality}}</td>
          <td><button type="button" class="btn btn-info" (click)="goToInfos(supp.suppName)" >Check</button></td>
        </tr>
      </tbody>
    }
  </table>
</div>


