DB_URL=
DB_USERNAME=
DB_PASSWORD=
KEYCLOAK_ISSUER_URI=
KEYCLOAK_JWK_SET_URI=
JWT_AUTH_CONVERTER_RESOURCE_ID=
JWT_AUTH_CONVERTER_PRINCIPAL_ATTRIBUTE=
KEYCLOAK_SERVER_URL=
KEYCLOAK_REALM=
KEYCLOAK_ADMIN_REALM=
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_CLIENT_ID=
RESOURCE_ACCESS=
KEYCLOAK_SYNC_DEFAULT_PASSWORD=
ELASTICSEARCH_URIS=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
IP_ADDRESS=
ALLOWED_ORIGIN=
SUSPICIOUS_PREDICT=
RECOMMENDATION_AI_URL=
KAFKA_RECOMMENDATION_RESULTS_TOPIC=