# =========================================================
# ENVIRONMENT / SECRETS
# =========================================================

.env
.env.properties


# =========================================================
# MAVEN
# =========================================================

target/

*.class


# =========================================================
# INTELLIJ IDEA
# =========================================================

.idea/
*.iml


# =========================================================
# LOGS
# =========================================================

*.log


# =========================================================
# OS
# =========================================================

.DS_Store
Thumbs.db

# Local config with secrets
application.properties
application-docker.properties
.env